@import url('https://fonts.googleapis.com/css?family=Lobster');

article p{
    font-family: 'Lobster', cursive;
}

article {
    background: rgba(54, 25, 25, .1);
    color : darkblue;
    width: 75%;
}
.definitsioon {
    background-color: lightskyblue;
}
#def-firefox{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px, 20px;
}
[controls] {
    border-style: dashed;
    border-width: 3px;
}
nav a {
    text-decoration: none;
    font: small-caption;
}
nav a::before {
    content: "→";
}
nav a:hover{
    color: black;
}
/* Kommentaar */
nav ul {
    list-style-type: none;
}
article p::first-letter {
    font-size: 200%;
}
::-moz-selection {
  color: gold;
  background: palevioletred;
}
::selection {
  color: gold;
  background: palevioletred;
}
a:visited {
    color: darkcyan;
}
tbody > tr:nth-child(-n+4) {
    color: violet!important;
}
blockquote {
    color: wheat!important;
}
@media screen 
    and (min-width: 320px) 
    and (max-width: 480px) {
        body {font-size: 200%;}
        aside {font-size: 120%;}
        h1{
            font-size: 2rem;
        }
        p{
            font-size: 1em;
        }
}

@media print {
    html{ font-size: 16pt;}
}
aside{
    padding-left: 10%;
    margin: 5%;
}
q {
    width: 300px;
    background-color: azure;
    text-align: center;
    display: inline-block;
}
#backvideo {
    position: fixed;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
    background: url(http://thenewcode.com/assets/videos/polina.jpg) no-repeat;
    background-size: cover;
}