.container, .container-fluid{
    /*height: 100px;*/
    background: salmon;
}
.container-fluid > .container{
    height: 30px;
    background: slateblue;
}
.cookies{
    text-align: center;
}
#carouselExampleSlidesOnly{
    margin-left: auto;
    margin-right: auto;
    width: 640px;
}
#carouselExampleSlidesOnly img{
    width: 640px;
    height: 320px;
}
#btn2{
   background-color: #d0e9c6;
    border-color: #d0e9c6;
    color: #d0e9c6; 
}

