@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

header a > img, article, video{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
header li, footer, figcaption, nav ul{
    text-align: center;
}
p{
    font-family: 'Indie Flower', cursive;
}
article {
    background-color: lightgoldenrodyellow;
    color: blue;
    width: 75%;
}
.definitsioon {
    background-color: lightskyblue;
    border-style: solid;
    border-color: darkblue;
    border-width: 2px;
}
#def-firefox{
    border-style: solid;
    border-width: 2px;
    border-radius: 10px 20px;
}
[controls] {
    border-style: dashed;
    border-width: 3px;
}
header a {
    text-decoration: none;
}
nav a::before {
    content: "→";
}
/* Tere kommentaar*/
nav ul {
    list-style-type: none;
}
article p::first-letter {
    font-size: 100%;
}
::-moz-selection, ::-ms-selection, ::-webkit-selection {
  color: gold;
  background: red;
}
::selection {
  color: gold;
  background: red;
}
a:visited {
    color: green;
}
a:hover {
    color: darkred;
}
/* Võib olla (even) või (odd) */
tbody > tr:nth-child(0n+3) {
    background-color: pink!important;
}
blockquote {
    color: saddlebrown!important;
}
hr {
    height: 0;
    flex-basis:  90%!important;
}
@media screen and (min-width:800px) {
    html {
        font-size: 150%;
    }
    h1{
        font-size: 1em;
    }
    p{
        font-size: 0,5em;
    }
}
@media print {
    html{
        font-size: 16pt;
    }
}
aside{
    margin-right: 0%;
    padding-top: 5%;
    margin-left: 0%;
    margin-right: 0%;
}   
q {
    background-color: lightblue;
    width: 150px;
    display:inline-block;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: darkblue;
    border-radius: 40px 40px;
}
dt {
    font-family: 'Indie Flower', cursive;
    background-color: lightblue;
    width: 200px;
    text-align: center;
}
#backvideo {
    position: fixed;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
    background: url(http://thenewscode.com/assets/videos/polina.mp4);
    background-size: cover;
}
/*Flex*/
#story{
    display: flex;
    flex-wrap: wrap;
    
}
#story > * {
    flex: 1 0 45%;
    margin: 10px;
}
#story > .header{
    flex: 0 1 90%;
}
#story > table {
    min-width: 45%;
}
/* Button*/
nav li {
    display: inline-table;
    width: 50px;
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    background-color: blue;
    box-shadow: 3px 3px 5px black;
}
nav a, nav a:visited, nav a:hover{
    text-decoration: none;
    color: whitesmoke;
            
}
nav li:hover {
    
    background: #3cb0fd;
    box-shadow: 1px 1px 5px black;
    transform: translate(2px, 2px);
    transition: transform 0,3s;

}
@keyframes img_scale{
    from {
        transform: scale(1, 1);
    }
    to{
        transform: scale(1.2, 1.2);
    }
}
img{
    transition: transform 2s;
    transition-timing-function: 
}
img:hover{
     transform: scale(1.2, 1.2);
     transition: transform 2s;
}
   /* transform: scale(1.2, 1.2);
    sekundid kaua pilt liigub
    transition: transform 2s;*/
    
