@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

p{
    font-family: 'Indie Flower', cursive;
}
article {
    background-color: lightgoldenrodyellow;
    color: blue;
    width: 75%;
}
.definitsioon {
    background-color: lightskyblue;
}
#def-firefox{
    border-style: solid;
    border-width: 2px;
    border-radius: 10px 20px;
}
[controls] {
    border-style: dashed;
    border-width: 3px;
}
header a {
    text-decoration: none;
}
nav a::before {
    content: "→";
}
/* Tere kommentaar*/
nav ul {
    list-style-type: none;
}
article p::first-letter {
    font-size: 100%;
}
::-moz-selection, ::-ms-selection, ::-webkit-selection {
  color: gold;
  background: red;
}
::selection {
  color: gold;
  background: red;
}
a:visited {
    color: green;
}
a:hover {
    color: darkred;
}
/* Võib olla (even) või (odd) */
tbody > tr:nth-child(0n+3) {
    background-color: pink!important;
}
blockquote {
    color: saddlebrown!important;
}
@media screen and (min-width:800px) {
    html {
        font-size: 150%;
    }
    h1{
        font-size: 1em;
    }
    p{
        font-size: 0,5em;
    }
}
@media print {
    html{
        font-size: 16pt;
    }
}
aside{
    margin-right: 0%;
    padding-top: 5%;
    margin-left: 5%;
}   
q {
    background-color: azure;
    width: 300px;
    display:inline-block;
    text-align: center;
}
