article {
    background:lightgoldenrodyellow;
    color:darkblue;
    width:75%;
}

#coffe {
    border:1px solid black;

}

aside {
    background:#cef;
}

.preklass {
    background:orange;
}

[controls] {
    border:1px dashed black;
}

header li {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
}

article p::first-letter {
    color:red;
}

::selection {
    background:purple;
}

a:hover {
    color:red;
}

tr:nth-child(even) {
    background:gray;
}

span::before {
    content:"";
}

@media screen and (min-width:800px) {
    html {
    }
    h1 {
        font-size:2em;
    }
    p {
        font-size:1em;
    }
}

@media print {
    html {
        font-size:16pt;
    }
}

aside {
    padding-left:20%;
    margin-left:5%;
}

q {
    display:inline-block; 
    width:300px;

}